// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 16px;
$custom_blue: #161746;
$custom_yellow: #4EFF00;
$custom_red: #ff0008;
$opacity_blue: RGBA(41,55,84,0.75);


body{
  font-family: Roboto;
}