// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 16px;
$primary_dark: #0A072C;
$custom_blue: #161746;
$custom_green: #4EFF00;
$custom_yellow: #4EFF00;
$custom_red: #ff0008;
$opacity_blue: RGBA(41,55,84,0.75);


$font-size-root: 14px;
$font-weight-root: 300;
$heading-font-family: "Gill Sans";
$body-font-family: "Gill Sans";
$heading-font-weight: 300;
$font-color-root: #734030;
$main-color: #734030;
$red-color: #B22D00;
$olive-color: #5C591A;
$bcg-butt: #fff1d7;
$bcg-body: #fffcf5;
$bcg-header: #eddcd5;
$expansion-panel-header-padding: 0 !important;

//fonts
$font-titles: 'GillSans-Light';
$font-text: 'GillSans-Light';
$font-text-bold: 'GillSans-Bold';
$font-roboto: 'Roboto';
$font-north: "Northwell-Alt";


body{
  font-family: Roboto;
}
